
.composition{
     position: relative;
     margin-right: 8rem;
     margin-top: 1rem;
}


.composition__photo{
     width: 75%;
     box-shadow: 0 1.5rem 4rem rgba(0,0,0, .4);
     /* border-radius: 0.2rem; */
     position: absolute;
     z-index: 2;
     transition: all .2s;
     outline-offset: 1.5rem;
}

.composition__photo--p1{
     left: 0;
     top: -2rem;
}

.composition__photo--p2 {
     right: -7rem;
     top: 1rem;
}

.composition__photo--p3 {
     left: 20%;
     top: 6rem;
}

.composition__photo:hover{
     outline:#55c57a  solid 1.2rem;
    transform: scale(1.05) translateY(-.5rem);
     box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, .5); 
     z-index: 3; 
}

.composition__photo:not(:hover){
     transform: scale(.95);
     
}